body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}
.container{
    background-color: rgb(113, 114, 118);
    height: 500px;
    width: 450px;
    border-radius: 20px;
    padding: 50px;
    box-shadow: 10px 10px 5px rgb(116, 110, 110) ;
    box-sizing: border-box;
}
.logo{
    background: url(../image/1.jpeg);
    height: 100px;
    width: 100px;
    margin: auto;
    border-radius: 50%;
    border: 3px solid red;
}
.title{
    color: rgb(234, 255, 0);
}
.input{
    text-align: left;
}
label,input{
    display: block;
    width: 100%;

    border: none;
}
label{
    color: rgb(155, 255, 6);
    margin-bottom: 10px;
    text-align: center;
    text-transform:capitalize;
}
input{
    border-radius: 5px;
    padding: 10px;
    box-shadow: 5px 5px 2px black;
}
button{
    margin: 50px;
    width: 50%;
    text-transform: uppercase;
    padding: 11px;
    border-radius: 15px;
}
button:hover{
    background-color: red;
    transition: 0.5s;
}