body{
    margin: 0;
    padding: 0;
}
.container{
    min-width: 600px;  
    background-color: #fff;
    margin: 20px auto;
    padding: 10px;
    box-shadow: 3px 4px 5px rgb(22, 19, 19);
    border-radius: 10px;
    width: 500px;
}
h1{
    text-align: center;
}
input{
    width: 70%;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid gray;
    margin-right: 10px;
}
button{
    background-color: green;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
#todolist{
    list-style-type: none;
}
#todolist li{
    display: flex;
    justify-content: space-between;
}
